body {
  text-align: center;
  --top-offset: 5em;
  --background:
}



div {
  display: flex;
  justify-content: center;

}

h1 {
  min-height: 15vh;
  color: rgb(224, 224, 207);
  align-items: center;
  display: flex;
}

h2 {

  color: rgb(224, 224, 207);
}

.full-page {
  z-index: 1;
  min-height: 80vh;
  min-width: 100vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* position: relative;
  top: var(--top-offset); */
}

.vert-center {
  align-items: center;
}

#app-container {
  background-color: rgb(10, 94, 117);
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  /* align-items: center; */
}

#navbar {
  min-height: 5vh;
  /* position: relative;
  top: var(--top-offset); */
}

#app-title {
  min-height: 15vh;
}

.nav-button {
  width: 7%;
  padding: .5em;
  margin: 1em .5em;
  background-color: ivory;
  color: black;
  text-decoration: none;
  border: 1pt solid black;
  border-radius: 15px;
}

.dark-background {
  background-color: rgb(165, 165, 154);
}

.nav-button:hover {
  background-color: rgb(165, 165, 154);
}

.todo-list {
  min-width: 400px;
  width: 60vw;
  margin: 0em 4em;
  max-width: 800px;
  min-height: 40%;
  border: 2pt solid black;
  box-shadow: 3px 2px black;
  border-radius: 20px;
  background-color: ivory;
  flex-direction: column;
  justify-content: flex-start;
}

















/* }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
