#completed-list {
position: relative;
}

.completed-todo {
  
}

.completed-buffer {
  height: 3em;
  width: 100%;
  margin: auto;
  align-items: center;
}

#clear-complete {
  position: absolute;
  bottom: 0;
  /* padding:1em 0 ; */
}

#clear-complete-button {
  background-color: rgb(202, 202, 191);
  height: 2em;
  display: flex;
  padding: 1em;
  margin: 0 ;
  justify-content: center;
  align-items: center;
  outline: none;
}

#clear-complete-button:hover {
  background-color: rgb(151, 151, 141);
}

#clear-complete-button:active {
  background-color: rgb(95, 95, 88);
}
