#completed-list {
position: relative;
}

.completed-todo {
  
}

.completed-buffer {
  height: 1.5em;
  width: 100%;
  /* margin: 0 0 1.5em; */
  padding: 1em 0 1.5em;
}

#clear-complete {
  position: absolute;
  bottom: 0;
}