.delete-window {
  height: 30vh;
  width: 30vw;
  background-color: ivory;
  z-index: 1000;
  border: 2pt solid black;
  border-radius: 20pt;
  position: absolute;
  margin: auto;
  top: 1em; left: 0; bottom: 0; right: 0;
  flex-direction: column;
}

.delete-window p {
  margin: 2em;
}

.delete-button {
  width: 20%;
  margin: 2em 1em;
}