#home-page {
}

#header-todo {
  padding: 1em 0 .5em;
  font-size: larger;
  font-weight: bold;
}

#new-todo {
  width: 100%;
  padding: 0;
}

.todo-input {
  padding: 1.5em 0;
  height: 1em;
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}

#header-line {
  border-bottom: 2pt solid black;
}

.line {
  border-bottom: 1pt solid black;
}

