#login-window {
  min-height: 40vh;
  min-width: 40vw;
  max-width: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-window h2 {
  color: black;
  position: relative;
  /* top: -1em; */
}

#login-window button {
  background-color: rgb(202, 202, 191);
  height: 2em;
  width: 8em;
  display: flex;
  padding: 1em;
  margin: .5em ;
  justify-content: center;
  align-items: center;
  outline: none;
}

.login-input {
  /* max-width: 80%; */
}