.todo {
  width: 100%;
  justify-content: space-between;
  padding: .5em;
  align-items: center;
}

.task-box {
  width: 50%;
}

.date-box {
  width: 30%;
}

.complete-box {
  width: 20%;
}

.complete-check-box {
  height: 1em;
  width: 1em;
  background-color: black;
}