.todo {
  width: 100%;
  justify-content: space-between;
  padding: .5em 0;
  align-items: center;
}

.task-box {
  width: 50%;
}

.date-box {
  width: 25%;
}

.complete-box {
  width: 25%;
}

.complete-check-box {
  height: 1em;
  width: 1em;
  background-color: rgb(196, 192, 192);
  border-style: outset;
  border-color: -internal-light-dark(rgb(71, 71, 71), rgb(195, 195, 195));;
  border-width: 2px;
  /* border: 2px solid black; */
  /* box-shadow: 1pt 1pt black; */
}